###############################################################################
# Set default behavior to automatically normalise line endings.
###############################################################################
* text=auto
